:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #213547;
  background-color: #fafafa;

  --surface-color: #ececec;
  --accent-color: #4441d6;
  --error-color: #ec4d4d;
  --border-color: #DDDDDD;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  transition: background-color .2s;
}

#app {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #343442;
    color: #ebebeb;

    --surface-color: #3c3c47;
    --accent-color: #5350f8;
    --error-color: #f13f3f;
    --border-color: #50505f;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
